.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:40px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:6px;
    height: 50px;
    width: 50px;
}

.whatsapp{
    text-align:center;
    background-color:#25d366;
    color:#FFF;
    box-shadow: 2px 2px 3px #999;
}

.my-whatsapp{
    margin-top:6px;
    /* height: 10px; */
    width: 30px;
}

#contact .card:hover i,#contact .card:hover h4{
    background: rgba(0, 0, 0, 0);
    /* color: #fed136; */
}

.nobackground {
    background: rgba(0, 0, 0, 0);
    /* background: salmon; */
}